# -*- coding: utf-8 -*-
# vim: ft=yaml
---
nvim:

  # Note: By default, the 'nvim' state only installs Neovim. To fully utilize
  # this formula, the subkeys "config" and/or "vimplug" must be set to a
  # non-empty object. (If you want to do this without setting options, you can
  # use an unused key, i.e. "managed".)
  #
  # Example: All functionality, default options ("managed" is not used).
  # nvim:
  #   config:
  #     managed: True
  #   vimplug:
  #     managed: True
  #
  # Example: Manage my nvim config files at the specified location, but don't
  # use vimplug
  # nvim:
  #   config:
  #     target: /home/someuser/.config/nvim
  install:
    source: github
    package:
      name: neovim
    github:
      install_dir: "/opt/nvim"
      version: 0.7.2
      source_hash: fa75852890ca4b57551da194c696d3bbd14d9d2e966bc188d1e7e52ee942b71d
      bashrc_path: /home/myuser/.bashrc
  config:
    target: /home/myuser/.config/nvim/
  vimplug:
    user: myuser
